* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
.map-button {
  position: absolute;
  right: 0.5vw;
  top: 10.5vh;
  display: flex;
}

#my-nav {
  background-color: #414143;
}

#nav-title {
  color: #fff;
}

#nav1 {
  color: #fff;
}
#nav2 {
  color: #fff;
}
#nav3 {
  color: #fff;
}

#nav1:hover {
  color: #000000;
  background-color: #aaa;
  text-decoration: underline #f14668;
}
#nav2:hover {
  color: #000000;
  background-color: #aaa;
  text-decoration: underline #f14668;
}
#nav3:hover {
  color: #000000;
  background-color: #aaa;
  text-decoration: underline #f14668;
}

#navburg {
  color: #fff;
}

.navbar-menu.is-active {
  background-color: #aaa;
}

.map-section button {
  width: 6rem;
  height: 3rem;
  background-color: #f14668;
  color: #fff;
}

.map-section button:hover {
  background-color: rgb(255, 255, 255);
  color: #f14668;
}

#bio {
  height: 10rem;
  overflow: auto;
}

.map-section {
  display: flex;
  justify-content: center;
  position: relative;
}

#map {
  height: 100vh;
  width: 100vw;
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  max-width: 400px;
}

.form-header {
  margin: 0 0 1rem 0;
}

input {
  margin: 5px 0;
  font-size: 1rem;
}

.card-name {
  color: #000;
  max-width: 300px ;
  padding: .5rem;
  font-size: large;
  font-weight: 500;
  text-align: center;
}

.email-mailto {
  text-align: center;
}



.card-email {
  color: #000;
  max-width: 300px ;
  text-align: center;
  font-weight: 200;
  font-weight: 400;
}
.card-email:hover {
  color:#f14668
}

.card-bio {
  color: #000;
  max-width: 300px ;
  padding: .5rem;
  text-align: center;
  border-bottom: solid 1px #f14668;
  font-weight: 400;
  
}

.card-fav-drink {
  color: #000;
  max-width: 300px ;
  padding-top: .5rem;
  text-align: center;
  font-weight: 400;
  
}

.card-drink {
  color: #000;
  max-width: 300px ;
  padding: .5rem;
  font-weight: 500;
  text-transform: uppercase;
  text-align: center;
  font-size: medium;
  
}

.card-img-container {
  display: flex;
  justify-content: center;
}
.card-img {
  color: #000;
  max-width: 300px ;
  padding: .5rem;

}

.close {
  color: #aaa;
  float: right;
  top: 2rem;
  font-size: 28px;
  font-weight: bold;
  transform: translate(13px, -24px);
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

footer {
  background-color: #aaa;
  color: #000;
}

footer h2 {
  text-align: center;
  border-top: solid #f14668 2px;
  text-decoration: underline;
}

.group-members {
  text-align: center;
}

@media screen {
}
