* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --brown: #2e2e30;
  --tan: #b1a296;
  --orange: #703e3e;
  --shadow: #5e2411;
  --white: #fff6f0;
  --border: 10px;
}

body {
  font-family: Helvetica, Arial, sans-serif;
  background-color: var(--tan);
  color: var(--brown);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: var(--border);
  padding: var(--border);
  border: 15px solid var(--orange);
  background-color: var(--tan);
  border-radius: 50px;
}

.button-container {
  display: flex;
  margin: var(--border);
  gap: 30px;
}

.map-section button {
  width: 5rem;
  height: 5rem;
  border-radius: 5rem;
}

.button {
  padding: var(--border);
  width: 80px;
  background-color: var(--orange);
  color: var(--white);
  border-radius: 50px;
  font-size: medium;
}

.button:hover {
  background-color: var(--brown);
  box-shadow: 5px 8px 3px gray;
}

.button:active {
  box-shadow: 5px 5px 5px black inset;
}

.map-section {
  display: flex;
  justify-content: center;
  position: relative;
}

.map-button {
  position: absolute;
  right: 4vw;
  top: 7vh;
  display: flex;
}

#map {
  height: 100vh;
  width: 95vw;
}

@media screen and (max-width: 768px) {
  .header {
    display: block;
    justify-content: center;
  }

  .button-container {
    display: flex;
    justify-content: space-around;
    width: 50%;
    margin: 0 auto;
    gap: 30px;
  }

  header h1 {
    text-align: center;
    padding-bottom: 10px;
  }
}

.group-members {
  display: flex;
  justify-content: center;
  flex-direction: row;
  padding: 5vh;
}

.group-members h2 {
  padding: 4vh;
}
